[Unit]
Description=Hydra v2 (Indexer Aggregator)
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/podman run \
	--name=%p \
	--rm \
	--pull=always \
	--network=host \
	--security-opt label=disable \
	--mount type=bind,source=/mnt/downloads,target=/downloads,bind-propagation=rslave \
	--mount type=bind,source=/opt/hydra2,target=/config \
	-e PGID=1100 \
	-e PUID=1100 \
	linuxserver/nzbhydra2
ExecStop=/usr/bin/podman stop -t 3 %p
ExecStopPost=/usr/bin/podman rm -i -f %p
ExecReload=/usr/bin/podman restart %p
Restart=always

[Install]
WantedBy=multi-user.target
