[Unit]
Description=Lidarr (Music Downloader Service)
Requires=rclone-media-drive.service
After=rclone-media-drive.service
BindsTo=rclone-media-drive.service

[Service]
Type=simple
User=root
Group=root
ExecStartPre=-/usr/bin/podman rm -f %p
ExecStart=/usr/bin/podman run \
	--name=%p \
	--rm \
	--network=host \
	--security-opt label=disable \
	--mount type=bind,source=/mnt/downloads,target=/downloads,bind-propagation=rslave \
	--mount type=bind,source=/opt/lidarr,target=/config \
	--mount type=bind,source=/mnt/rclone/media/Music,target=/music \
	-e PGID=1100 \
	-e PUID=1100 \
	linuxserver/lidarr
ExecStop=/usr/bin/podman stop %p
ExecReload=/usr/bin/podman restart %p
Restart=always

[Install]
WantedBy=multi-user.target
WantedBy=rclone-media-drive.service
