[Unit]
Description=Ombi (Download Request Service)
After=radarr.service lidarr.service sonarr.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/podman run \
	--name=%p \
	--rm \
	--network=host \
	--security-opt label=disable \
	--mount type=bind,source=/opt/ombi,target=/config \
	-e TZ="America/New_York" \
	-e PGID=1100 \
	-e PUID=1100 \
	linuxserver/ombi:v4-preview
ExecStop=/usr/bin/podman stop -t 3 %p
ExecStopPost=/usr/bin/podman rm -i -f %p
ExecReload=/usr/bin/podman restart %p
Restart=always

[Install]
WantedBy=multi-user.target
