[Unit]
Description=Ombi (Download Request Service)
After=radarr.service lidarr.service sonarr.service

[Service]
Type=simple
User=root
Group=root
ExecStartPre=-/usr/bin/podman rm -f ombi
ExecStart=/usr/bin/podman run \
	--name=ombi \
	--rm \
	--network=host \
	--security-opt label=disable \
	--mount type=bind,source=/opt/ombi,target=/config \
	-e TZ="America/New_York" \
	-e PGID=1100 \
	-e PUID=1100 \
	linuxserver/ombi
ExecStop=/usr/bin/podman stop ombi
ExecReload=/usr/bin/podman restart ombi
Restart=always

[Install]
WantedBy=multi-user.target
