[Unit]
Description=Plex Media Server
Requires=rclone-media-drive.service
After=rclone-media-drive.service
BindsTo=rclone-media-drive.service

[Service]
Type=simple
User=root
Group=root
ExecStartPre=-/usr/bin/podman rm -f %p
ExecStart=/usr/bin/podman run \
	--name %p \
	--rm \
	--mount type=bind,source=/mnt/rclone/media,target=/media,ro=true,bind-propagation=rslave \
	--mount type=bind,source=/opt/plex,target=/config \
	--mount	type=bind,source=/mnt/transcode,target=/transcode \
	--network=host \
	--security-opt label=disable \
	-e VERSION=docker \
	-e PLEX_UID=1100 \
	-e PLEX_GID=1100 \
	-e TZ="America/New_York" \
	-e PLEX_CLAIM="%%CLAIM_TOKEN%%" \
	plexinc/pms-docker:plexpass
ExecStop=/usr/bin/podman stop %p
ExecReload=/usr/bin/podman restart %p
Restart=always

[Install]
WantedBy=multi-user.target
WantedBy=rclone-media-drive.service
