[Unit]
Description=Radarr (Movie Downloader Service)
Requires=rclone-media-drive.service
After=rclone-media-drive.service
BindsTo=rclone-media-drive.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/podman run \
	--name=%p \
	--rm \
	--network=host \
	--security-opt label=disable \
	--mount type=bind,source=/mnt/downloads,target=/downloads \
	--mount type=bind,source=/opt/radarr,target=/config \
	--mount type=bind,source=/mnt/rclone/media/Movies,target=/media/movies \
	-e PGID=1100 \
	-e PUID=1100 \
  -e TZ="America/New_York" \
	linuxserver/radarr
ExecStop=/usr/bin/podman stop -t 3 %p
ExecStopPost=/usr/bin/podman rm -i -f %p
ExecReload=/usr/bin/podman restart %p
Restart=always

[Install]
WantedBy=multi-user.target
WantedBy=rclone-media-drive.service
