[Unit]
Description=Radarr (Movie Downloader Service)
Requires=rclone-media-drive.service
After=rclone-media-drive.service
BindsTo=rclone-media-drive.service

[Service]
Type=simple
User=root
Group=root
ExecStartPre=-/usr/bin/podman rm -f radarr
ExecStart=/usr/bin/podman run \
	--name=radarr \
	--rm \
	--network=host \
	--security-opt label=disable \
	--mount type=bind,source=/mnt/downloads,target=/downloads,bind-propagation=rslave \
	--mount type=bind,source=/opt/radarr,target=/config \
	--mount type=bind,source=/mnt/rclone/media/Movies,target=/media/movies \
	-v /etc/localtime:/etc/localtime:ro \
	-e PGID=1100 \
	-e PUID=1100 \
	linuxserver/radarr
ExecStop=/usr/bin/podman stop radarr
ExecReload=/usr/bin/podman restart radarr
Restart=always

[Install]
WantedBy=multi-user.target
WantedBy=rclone-media-drive.service
