[Unit]
Description=SABnzbd (NZB Downloading Service)
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStartPre=-/usr/bin/podman rm -f sabnzbd
ExecStart=/usr/bin/podman run \
	--name=sabnzbd \
	--rm \
	--network=host \
	--systemd=false \
	--security-opt label=disable \
	--mount type=bind,source=/mnt/downloads,target=/downloads,bind-propagation=rslave \
	--mount type=bind,source=/opt/sabnzbd,target=/config \
	-e PGID=1100 \
	-e PUID=1100 \
	linuxserver/sabnzbd
ExecStop=/usr/bin/podman stop sabnzbd
ExecReload=/usr/bin/podman restart sabnzbd
Restart=always

[Install]
WantedBy=multi-user.target
