[Unit]
Description=SABnzbd (NZB Downloading Service)
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/podman run \
	--name=%p \
	--rm \
	--network=host \
	--security-opt label=disable \
	--mount type=bind,source=/mnt/downloads,target=/downloads,bind-propagation=rslave \
	--mount type=bind,source=/opt/sabnzbd,target=/config \
	-e PGID=1100 \
	-e PUID=1100 \
	linuxserver/sabnzbd
ExecStop=/usr/bin/podman stop -t 3 %p
ExecStopPost=/usr/bin/podman rm -i -f %p
ExecReload=/usr/bin/podman restart %p
Restart=always

[Install]
WantedBy=multi-user.target
