[Unit]
Description=Tautulli (Plex Monitoring)
Requires=plex.service
After=plex.service
BindsTo=plex.service

[Service]
Type=simple
User=root
Group=root
ExecStartPre=-/usr/bin/podman rm -f %p
ExecStart=/usr/bin/podman run \
	--name=%p \
	--rm \
	--network=host \
	--security-opt label=disable \
	--mount type=bind,source=/opt/tautulli,target=/config \
	--mount type=bind,source='/opt/plex/Library/Application Support/Plex Media Server/Logs',target=/plex_logs,ro=true,bind-propagation=rslave \
	-e TZ=America/New_York \
	-e PGID=1100 \
	-e PUID=1100 \
	tautulli/tautulli
ExecStop=/usr/bin/podman stop %p
Restart=always

[Install]
WantedBy=multi-user.target
WantedBy=plex.service
