## Version 2019/08/01 - Changelog: https://github.com/linuxserver/docker-letsencrypt/commits/master/root/defaults/default

# redirect all traffic to https
server {
	listen 80 default_server;
	listen [::]:80 default_server;
	server_name _;
	return 301 https://$host$request_uri;
}

# main server block
server {
	listen 443 ssl http2 default_server;
	listen [::]:443 ssl http2 default_server;

#	listen 443 ssl;

	# all ssl related config moved to ssl.conf
	include /config/nginx/ssl.conf;

	client_max_body_size 0;

	root /config/www;
	server_name _;

	location / {
		proxy_pass http://localhost:3579;
	}

	location /sabnzbd {
		proxy_pass http://localhost:8080;
	}

	location /tautulli {
		proxy_pass http://localhost:8181;
	}

	location /hydra2 {
		proxy_pass http://localhost:5076;
	}

	location /sonarr {
		proxy_pass http://localhost:8989;
	}

	location /radarr {
		proxy_pass http://localhost:7878;
	}

	location /lidarr {
		proxy_pass http://localhost:8686;
	}

}
